__pycache__/
*/__pycache__/
.coverage
.env
.git/
.gitattributes
.gitignore
.pyup.yml
.travis.yml
app.json
azure-pipelines.yml
azure/
bot/config.json
etc/
img/
issues.md
make.bat
Procfile
runtime.txt
tests/
tox.ini
venv/

